{% extends 'base.html' %}

{% block header_include %}
	{% include "playlist/playlist_header.html" with playlist_list=playlist_list %}
{% endblock header_include %}


{% block content %}
	{% if not playlist_list %}
		<p>You have no playlists!</p>
		<a class="btn btn-success" href="{% url 'get-playlists' %}">Add my playlists</button></a>
	{% else %}
		<p>Use the search bar above to search for a playlist to follow.</p>
		<p></p>
		<p>Your playlists are listed on the left side bar. Please refresh if you've added a playlist since you've last been here.</p>
		<a class="btn btn-success" href="{% url 'get-playlists' %}">Refresh my playlists</button></a>
	{% endif %}
{% endblock %}

