{% extends 'base.html' %}

{% block header_include %}
  {% include "playlist/playlist_header.html" with playlist_list=playlist_list %}
{% endblock header_include %}

{% block content %}
  <h3>{{ playlist.title }}</h3>
  <h4><b>{{ playlist.tracks_count }} total tracks</b></h4>
  {% if playlist.linked %}
    <h6>Added {{ playlist.added_tracks_count }} tracks | Removed {{ playlist.deleted_tracks_count }} tracks</h6>
    <h6>Follows Playlist:
      <a href="{% url 'playlist-detail' playlist.origin_playlist.playlist_id %}">{{ playlist.origin_playlist.title}} by {{ playlist.origin_playlist.author }}</a>
      ({{ playlist.origin_playlist.tracks_count }} total tracks)</h6>
      <p><a href="{% url 'refresh' playlist.playlist_id %}"><button type="button" class="btn btn-success">Refresh</button></a>&nbsp;&nbsp;
      <a href="{% url 'unlink-list' playlist.playlist_id playlist.origin_playlist.playlist_id %}"><button type="button" class="btn btn-secondary">Unfollow</button></a>
  {% else %}
    <p><a href="{% url 'refresh' playlist.playlist_id %}"><button type="button" class="btn btn-success">Refresh</button></a>
  {% endif %}
  
  <table class="table table-bordered">
    <thead class="thread-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Artist</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-hover">
    {% for track in playlist.trackinstance_set.all %}
      {% if track.is_added %}
        <tr scope="row" class="table-success">
      {% elif track.is_deleted %}
        <tr scope="row" class="table-secondary">
      {% else %}
        <tr scope="row" class="table-light">
      {% endif %}

      <td>{{ track.track.title }}</td>
      <td>{{ track.track.artist }}</td>

      <td>
      {% if track.is_deleted %}
          <a href="{% url 'add' playlist.playlist_id track.track_id %}"><button type="button" class="btn btn-light">Re-Add</button></a>
      {% else %}
        {% if playlist.linked %}
          <a href="{% url 'delete' playlist.playlist_id track.track_id %}"><button type="button" class="btn btn-dark">Delete</button></a>
        {% else %}
          <a href="{% url 'delete' playlist.playlist_id track.track_id %}"><button type="button" class="btn btn-dark" disabled>Delete</button></a>
        {% endif %}
      {% endif %}
      </td> 
      </tr>
    {% endfor %}
  </tbody>
  </table>
  
{% endblock %}