{% extends 'base.html' %}

{% block header_include %}
  {% include "playlist/playlist_header.html" with playlist_list=playlist_list %}
{% endblock header_include %}

{% block content %}
  <h1>{{ playlist.title }}</h1>
  <h2>Total tracks: {{ playlist.tracks_count }} | {{ playlist.deleted_tracks_count }} deleted</h2>
  {% if playlist.linked %}
    <h3>{{ playlist.origin_playlist.title }} by 
      <a href="">{{ playlist.origin_playlist.author }}</a></h3>
      <p><a href="{% url 'refresh' playlist.playlist_id %}"><button type="button" class="btn btn-primary">Refresh</button></a>&nbsp;&nbsp;
      <a href="{% url 'unlink-list' playlist.playlist_id playlist.origin_playlist.playlist_id %}"><button type="button" class="btn btn-secondary">Unlink</button></a>
  {% else %}
    <p><a href="{% url 'refresh' playlist.playlist_id %}"><button type="button" class="btn btn-primary">Refresh</button></a>
  {% endif %}
  
  <table class="table table-bordered">
    <thead class="thread-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Artist</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-hover">
    {% for track in playlist.trackinstance_set.all %}
      {% if track.is_added %}
        <tr scope="row" class="table-primary">
      {% elif track.is_deleted %}
        <tr scope="row" class="table-secondary">
      {% else %}
        <tr scope="row" class="table-light">
      {% endif %}

      <td>{{ track.track.title }}</td>
      <td>{{ track.track.artist }}</td>

      <td>
      {% if track.is_deleted %}
          <a href="{% url 'add' playlist.playlist_id track.track_id %}"><button type="button" class="btn btn-light">Re-Add</button></a>
      {% else %}
        {% if playlist.linked %}
        <a href="{% url 'delete' playlist.playlist_id track.track_id %}"><button type="button" class="btn btn-dark">Delete</button></a>
        {% else %}
        <a href="{% url 'delete' playlist.playlist_id track.track_id %}"><button type="button" class="btn btn-dark" disabled>Delete</button></a>
        {% endif %}
      {% endif %}
      </td> 
      </tr>
    {% endfor %}
  </tbody>
  </table>


{% endblock %}